<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <main class="container nt-4">
        <div class="d-flex justify-content-between">
            <h1>Lista de Categorias</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categorias.forEach(categoria => { %>
                    <tr>
                        <th scope="row">
                            <%= categoria.id_categoria %>
                        </th>
                        <th>
                            <%= categoria.nome %>
                        </th>
                        <th>
                            <a href="/categorias/<%= categoria.id_categoria %>/produtos " class="btn btn-primary">Ver produtos</a>
                        </th>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </main>
</body>

</html>